



<div class="container">

  <h2>Notifications Creator</h2>

  <div class="input-group input-group-sm mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Type of notification</span>
      </div>
      <select [(ngModel)]="type" class="custom-select">
          <option value="0">Default</option>
          <option value="1">Custom</option>
        </select>
    </div>
  
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-sm">Meaning</span>
        </div>
        <select [(ngModel)]="meaning" class="custom-select">
            <option value="0">Info</option>
            <option value="1">Error</option>
          </select>
      </div>

    <form [formGroup]="form">

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">Message</span>
            </div>
            <input type="text" formControlName="message" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div *ngIf="type ==1">
              <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">TimeOut</span>
                  </div>
                  <input type="number" formControlName="timeOut" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
  
  
              <div class="input-group input-group-sm mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-sm">DisableTimeOut</span>
                  </div>
                  <select  formControlName="disableTimeOut" class="custom-select">
                      <option value="false">False</option>
                      <option value="true">True</option>
                    </select>
                </div>
  
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text" id="inputGroup-sizing-sm">EasyTime</span>
                    </div>
                    <input type="number" formControlName="easyTime" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                  </div>
  
  
                  <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">ProgressBar</span>
                      </div>
                      <select  formControlName="progressBar" class="custom-select">
                          <option value="false">False</option>
                          <option value="true">True</option>
                        </select>
                    </div>
  
  
                  <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">ToastClass</span>
                      </div>
                      <input type="text" formControlName="toastClass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
  
  
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">PositionClass</span>
                        </div>
                        <input type="text" formControlName="positionClass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
  
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">TitleClass</span>
                        </div>
                        <input type="text" formControlName="titleClass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                      </div>
  
                  <div class="input-group input-group-sm mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">MessageClass</span>
                      </div>
                      <input type="text" formControlName="messageClass" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
  
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-sm">TapToDismiss</span>
                        </div>
                        <select  formControlName="tapToDismiss" class="custom-select">
                            <option value="false">False</option>
                            <option value="true">True</option>
                          </select>
                      </div>
  
                      <div class="input-group input-group-sm mb-3">
                          <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-sm">OnActivateTick</span>
                          </div>
                          <input type="text" formControlName="onActivateTick" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
  
          </div>
         
    </form>


  <button type="button" class="btn btn-primary" (click)='show()'>Primary</button>
</div>